!.mvn/wrapper/maven-wrapper.jar

**/target/
!target/*.jar

**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

.idea/
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/

logs/
*.log

.DS_Store
Thumbs.db

.git
.gitignore
.gitattributes

Dockerfile
docker-compose*.yml
.dockerignore

*.md
.env*
*.bak
*.tmp
*.swp
*~

public/documents/
public/images/
!public/images/.gitkeep
!public/documents/.gitkeep
