
SPRING_PROFILES_ACTIVE=dev
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=86400000
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
ADMIN_INIT_PASSWORD=
KKFILEVIEW_URL=http://localhost:8012
