<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>84</Pages><Words>7119</Words><Characters>9618</Characters><TotalTime>65</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>10365</CharactersWithSpaces><Application>WPS Office_12.1.0.25865_F1E327BC-269C-435d-A152-05C5408002CA</Application></Properties>